:root {
    --body-bg-color: #474747;
    --text-color: #999;
  }
html, body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--body-bg-color);
    /* display: flex; */
    }
.photo {
    height: 300px;
    border-radius: 50%;
    border: 5px solid var(--text-color)
}

header {
    /* display: flex; */
    justify-content: flex-start;
    /* height: 500px;   */
   
}

.left {
    padding: 0 15%;
}

.right {
    
 }

 .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* transform: rotate(-90deg); */
    position: absolute;
    width: 800px;
    left: 0;
    /* top: 100 px; */
    /* height: 500px; */
    /* z-index: 2; */
 }
 .link {
    color: var(--text-color);
    text-decoration: none;
 }
 .link:hover {
    color: #fff;
 }